.midDiv{
    text-align: center;
    background-image: url(../../assets/images/openBook.jpg);  
    background-size: cover;  
    height: 800px;

}
.midBtn{
    text-align: center;
}
h3{
    color: rgb(50,50,50);
}
button{
    margin:2px;
    padding:3px;
}
#options{
    margin: 10px;
}
#formatForm{
    margin-top: 20px;
    background-color: rgba(255,255,255, 0.5);
    padding : 50px;
    border-radius : 3px;
}
h3{
    margin-top:-20px; 
    margin-bottom: 20px;
}