    <div class="midDiv">
          <h2>Register</h2>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
            <div fxLex="25%">
            </div>
            <div fxLex="50%">
                    <form [formGroup]="loginForm" (ngSubmit)= "login(loginForm)">
            
                            <div fxLayout="row">
                                <div fxLex>
                                        <mat-form-field>
                                                <mat-icon matPrefix>person</mat-icon>
                                                <input matInput placeholder="Enter name"  formControlName="name">
                                                <mat-error *ngIf="loginForm.get('name').hasError('required')">Name is required</mat-error>
                                        </mat-form-field>
                                </div>
                                <div fxLex>
                                        <mat-form-field>
                                                <mat-icon matPrefix>person</mat-icon>
                                                <input matInput placeholder="Enter surname"  formControlName="surname">
                                                <mat-error *ngIf="loginForm.get('surname').hasError('required')">Last name is required</mat-error>
                                        </mat-form-field>
                                </div>
                            </div>
                            <div fxLayout="row">
                                <div fxLex>
                                        <mat-form-field>
                                                <mat-icon matPrefix>place</mat-icon>
                                                <input matInput placeholder="Enter city"  formControlName="city">
                                                <mat-error *ngIf="loginForm.get('city').hasError('required')">City is required</mat-error>
                                        </mat-form-field>
                                </div>
                                <div fxLex>
                                        <mat-form-field>
                                                <mat-icon matPrefix>location_on</mat-icon>
                                                <input matInput placeholder="Enter country"  formControlName="country">
                                                <mat-error *ngIf="loginForm.get('country').hasError('required')">Country is required</mat-error>
                                        </mat-form-field>
                                </div>
                            </div>
                            <div fxLayout="row">
                                    <div fxLex="25%">
                                            <mat-form-field>
                                                    <mat-icon matPrefix>email</mat-icon>
                                                    <input matInput placeholder="Enter email"  formControlName="email">
                                                    <mat-error *ngIf="loginForm.get('email').hasError('required')">Email is required</mat-error>
                                                    <mat-error *ngIf="loginForm.get('email').hasError('email')">Email is not valid</mat-error>        
                                                </mat-form-field>
                                                
                                    </div>
                    
                                    <div fxLex>
                                            <mat-form-field>
                                                    <mat-icon matPrefix>school</mat-icon>
                                                    <input matInput placeholder="Enter title"  formControlName="title">
                                            </mat-form-field>
                                    </div>
                                </div>
                            <mat-form-field>
                                        <mat-icon matPrefix>person</mat-icon>
                                        <input matInput placeholder="Enter username"  formControlName="username">
                                        <mat-error *ngIf="loginForm.get('username').hasError('required')">Username is required</mat-error>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-icon matPrefix>vpn_key</mat-icon>
                                <input matInput  type="password" placeholder="Enter password" formControlName="password">
                                <mat-error *ngIf="loginForm.get('email').hasError('required')">Enter password</mat-error>
                            </mat-form-field>
                            <div>
                                <mat-form-field class="example-medium-width">
                                        <mat-select matInput formControlName=selectedBranches placeholder="Branches of sciences" multiple>
                                            <mat-option *ngFor="let branch of branchValues" [value]="branch">
                                                {{ branch }}
                                            </mat-option>
                                        </mat-select>                                
                                </mat-form-field>
                            </div>
                            <div>
                                    <mat-checkbox checked="false" formControlName="reviewerFlag">Want to be reviewer?</mat-checkbox>
                                    
                            </div>
                            <div class="midDiv">
                                <button  mat-raised-button type="submit" color="primary">Login</button>
                            </div>
                    </form>
                    
            </div>
            <div fxLex="25%">
            </div>
    </div>
