<div class="midDiv">
        <div fxLayout="row" fxLayoutAlign="center center">
            <div fxLex="25%">
            </div>
            <div fxLex="50%" id="selForm">
            <form #f="ngForm" (ngSubmit)="onSubmit(f.value, f)"  ngNativeValidate>
              <h3>Finish task</h3>
              <mat-checkbox type="checkbox">Approve text?</mat-checkbox>
               
              <div class="midBtn">
                  <button  mat-raised-button type="submit" color="gray">Confirm</button>
               </div> 
            </form>
        </div>
        <div fxLex="25%">
          </div>
        </div>
        </div>
        
        