<div class="midDiv">
    <div fxLayout="row" fxLayoutAlign="center center">
          <div fxLex="20%">
          </div>
          <div fxLex="60%" id="themeForm">
            <form #f="ngForm" (ngSubmit)="onSubmit(f.value, f)"  ngNativeValidate>
                <h3>Check theme</h3>       
                <div *ngFor="let field of formFields" >
                    <mat-form-field *ngIf="field.type.name=='string'">
                        <input placeholder={{field.defaultValue}} readonly type="text" matInput name={{field.id}} ngModel  *ngIf="field.type.name=='string'" >
                      </mat-form-field>                      
                                             
                    <mat-checkbox type="checkbox" name={{field.id}} ngModel  *ngIf="field.type.name=='boolean'">Is theme valid? </mat-checkbox>
                    </div>                        
                    <div class="midBtn">
                            <button  mat-raised-button type="submit" color="white">Confirm</button>
                    </div>
            </form>
          </div>
          <div fxLex="20%">
          </div>
    </div>
</div>
